html,
body {
    min-width: 100%;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
}

.content h2 {
    text-align: center;
    line-break: inherit;
    font-size: 19px;
}

.navbarlinks li, ul {
    display: inline-flex;
    width: auto;
    left: 0;
    padding: 5px;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: inherit;
    border-radius: 0.375rem;
    /*font-size: 0.375rem;*/
    line-height: 1.5;
}

.intro-text {
    background-color: rgba(241,196,15,.1);
    border-left: 8px solid #f1c40f;
}

.intro-text p {
    text-align: center;
    padding: 5px;
}

.css_container115 i, h2 {
    font-size: 25px;
    background: transparent;
    color: #f1c40f;
    text-align: center;
}

.navbarlinks a {
    text-decoration: none;
    color: #000;
}

.navbarlinks a:hover {
    background: #EDF2F7;
    transition: all 800ms;
}

.navbarlinks {
    list-style: none;
    float: right;
    justify-content: right;
    align-items: right;
}

.navbarlinks i {
    color: #000;
}

.navbar-links li, ul, a {
    word-wrap: 1.9;
    user-select: none;
}

.navbarlinks a:hover {
    text-decoration: none;
    color: #000;
}

.main-content {
    padding: 5px;
}

.main-content h2 {
    color: #000;
    font-size: 20px;
}

a {
    color: #9083D2;
    text-decoration: none;
}

html {
    --background: white;
    --text: black;
}

a:hover {
    color: #9083D2;
    text-decoration: underline;
}

.main-content a {
    text-decoration: none;
    color: #9083D2;
}

tr {
    height: 50px;
}
  
td {
    height: 50px;
}

pre {
    max-width: 100%;
    overflow-x: auto;
    background-color: #E2E8F0;
    padding: 0.5em;
    border-radius: 0.2em;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 4px;
    line-height: 1.0;
    max-width: 1000px;
    text-align: left;
    border-radius: 8px;
    line-height: 125%;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000c;
    color: white;
    text-align: center;
    padding: auto;
    z-index: 0;
}

.footer-links h2 {
    color: #fff;
    font-family: sans-serif;
}

.footer-links h2 {
    padding: 5px;
}

.footerlinks ul, li {
    list-style: none;
    display: block;
}

.footerlinks ul, li, a {
    color: #fff;
}

.footer-links a:hover {
    color: #fff;
}

.main-content a:hover {
    text-decoration: underline;
    color: #9083D2;
}

.main-content p {
    text-align: center;
}

.tip {
    background-color: rgba(46,204,113,.1);
    border-left: 8px solid #2ecc71;
}

.tip h5,i {
    display: inline-flex;
    text-align: center;
    font-size: 25px;
    color: green;
}

.tip i {
    font-size: 25px;
}

.warning i, h5 {
    color: #e74c3c;
    font-size: 24px;
}

.warning {
    background-color: rgba(231,76,60,.1);
    border-left: 8px solid #e74c3c;
}